* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*<!--GENERAL-->*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 200px !important;
  background-attachment: fixed;
  margin: 0px;
  background-image: url(../img/fodo\ 86.jpg);
}

@font-face {
  font-family: heyaugust;
  src: url(../fuenteh1.ttf);
}
h1 {
  font-size: 3.5em;
  text-align: center;
  color: aliceblue;
  font-family: heyaugust;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

button {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #31367a;
}

button:hover {
  background-color: #b24f84;
}

header {
  z-index: 10 !important;
}

header .container {
  flex-direction: row;
  justify-content: space-between;
}

header nav {
  flex-direction: row;
  padding-bottom: 0;
  padding-right: 0px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: rgba(238, 233, 233, 0.863);
}

header a:hover {
  color: blueviolet;
}

/*<!--carrusel-->*/
.carouselExampleSlidesOnly {
  z-index: 10 !important;
}

.carousel-inner img {
  height: 100%;
  width: 100%;
}

.carousel-inner button {
  font-size: 1.75em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8 rebeccapurple;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.7;
}

.container-fluid {
  background-color: rgba(174, 22, 22, 0.3490196078);
}

.parrafo p {
  display: flex;
  justify-content: end;
}

/*<!--Cartas principal-->*/
.contenedor {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor_tarjeta {
  margin: 20px;
}

.contenedor_tarjeta a {
  display: inline-block;
}

.contenedor_tarjeta:hover figure {
  transform: perspective(600px) rotateY(180deg);
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}

figure {
  width: 300px;
  height: 350px;
  margin: 0;
  position: relative;
  transition: all ease 0.5s;
  transform-style: preserve-3d;
  /* Nota:
  	Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
  	ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
  */
  transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all ease 0.5s;
}

figure .frontal {
  display: block;
  background: #000;
  /* Podemos ocultar la imagen al da la vuelta si lo queremos */
  /*backface-visibility: hidden;*/
}

figure .trasera {
  position: absolute;
  top: 0;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera {
  background: rgba(223, 234, 241, 0.7);
  background: -moz-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, rgb(15, 99, 144) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223, 234, 241, 0.7)), color-stop(100%, rgb(15, 99, 144)));
  background: -webkit-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, rgb(15, 99, 144) 100%);
  background: -o-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, rgb(15, 99, 144) 100%);
  background: -ms-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, rgb(15, 99, 144) 100%);
  background: linear-gradient(to bottom, rgba(223, 234, 241, 0.7) 0%, rgb(15, 99, 144) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#dfeaf1", endColorstr="#0f6390", GradientType=0 );
}

.contenedor_tarjeta:nth-child(2) figure .trasera {
  background: rgba(251, 232, 202, 0.7);
  background: -moz-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, rgb(68, 255, 124) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 232, 202, 0.7)), color-stop(100%, rgba(22, 211, 79, 0.616)));
  background: -webkit-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, rgb(25, 170, 85) 100%);
  background: -o-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, rgb(39, 194, 25) 100%);
  background: -ms-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, rgb(31, 201, 59) 100%);
  background: linear-gradient(to bottom, rgba(251, 232, 202, 0.7) 0%, rgb(2, 177, 46) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fbe8ca", endColorstr="#192c48", GradientType=0 );
}

.contenedor_tarjeta:nth-child(3) figure .trasera {
  background: rgba(95, 58, 53, 0.7);
  background: -moz-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, rgb(221, 32, 47) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95, 58, 53, 0.7)), color-stop(100%, rgb(221, 32, 47)));
  background: -webkit-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, rgb(221, 32, 47) 100%);
  background: -o-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, rgb(221, 32, 47) 100%);
  background: -ms-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, rgb(221, 32, 47) 100%);
  background: linear-gradient(to bottom, rgba(95, 58, 53, 0.7) 0%, rgb(221, 32, 47) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#5f3a35", endColorstr="#dd202f", GradientType=0 );
}

figure .trasera .titulo {
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

figure .trasera hr {
  height: 2px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  opacity: 0.5;
}

figure .trasera p {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  figure .trasera {
    /*position: relative;*/
    backface-visibility: visible;
    transform: perspective(600px) rotateY(0deg);
  }
  .contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(0deg);
  }
}
#Historia {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: url("../img/fondo def.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#Historia h1 {
  color: white;
}

#Historia p {
  color: white;
}

/*<!--final -->*/
#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #31367a;
  color: white;
  height: 45vh;
}

#final h2 {
  font-size: 9vw;
}

#final button {
  font-size: 5vw;
}

#final h2 {
  font-size: 5em;
}

#final button {
  font-size: 2em;
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgb(255, 245, 245);
}

footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pie-pagina {
  margin-top: 150px;
  width: 100%;
  background-color: rgba(71, 70, 71, 0.5803921569);
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: white;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #3d3e7c;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo1 .red-social a:hover {
  color: #760feb;
}

.pie-pagina .grupo-2 {
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

footer {
  background-color: rgb(50, 50, 50);
}

/*<!--seccion formulario-->*/
.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
  margin-top: 45px;
  color: brown;
  background-color: antiquewhite;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form a i {
  color: orange;
  margin-right: 10px;
}

.container-form form .campo, textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
  background: #e39403;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
@media (min-width: 850px) {
  header {
    position: fixed;
    width: 100%;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: rgb(235, 189, 137);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1260px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 100px;
  width: 250px;
}

/*# sourceMappingURL=style.css.map */
