
/*<!--Cartas principal-->*/
 .card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
  
}
.cartas{
    
     background-size: cover; 
    height: 800px;
    width: 100%;
    padding-left: 20px;
    padding-top:  50px;
    display: inline-block;
    
}
.row {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: auto;
    align-items: flex-start;
}

    
.col-md-6 .card {
        background-image:linear-gradient(135deg, #e38034d1, rgba(254, 243, 184, 0.68), #cb7742, rgb(205 149 115 / 55%), rgb(255 99 21 / 85%), rgb(223 131 45 / 70%), #ffc107);
        background-size: auto;
        color:rgb(0, 0, 0);
        text-align: center;
       
    }
    

   
    
#Historia{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: 
    url("../img/fondo\ def.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#Historia h1{
    color: white;
}
#Historia p{
    color: white;
}



  

   

   

    

 

 