
/*<!--Cartas principal-->*/
 

    
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
.row{
    margin-top: 150px;
}
.text-card{
    margin: 100px;
}
  
  .col-md-6 .card {
    background-image: linear-gradient(135deg, rgba(227, 128, 52, 0.8196078431), rgba(254, 243, 184, 0.68), #cb7742, rgba(205, 149, 115, 0.55), rgba(255, 99, 21, 0.85), rgba(223, 131, 45, 0.7), #ffc107);
    background-size: auto;
    color: rgb(0, 0, 0);
    text-align: center;
  }

   
    
#Historia{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: 
    url("../img/fondo\ def.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#Historia h1{
    color: white;
}
#Historia p{
    color: white;
}



  

   

   

    

 

 