
/*<!--Cartas principal-->*/
 .card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
  
}
.cartas{
    
     background-size: cover; 
    height: 800px;
    width: 100%;
    padding-left: 20px;
    padding-top:  50px;
    display: inline-block;
    
}
.row {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: auto;
    align-items: flex-start;
}

    
.col-md-6 .card {
        background-image:linear-gradient(135deg, #e3b634, rgb(254 243 184 / 68%), #cba842, #ffffff8c, rgb(252 235 86 / 71%), rgb(216 205 0 / 70%), #ffc107);
        background-size: auto;
        color:rgb(0, 0, 0);
        text-align: center;
       
    }
    

   
   

  

   

   

    

 

 