

@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
    }
  }
  @media (min-width: 850px) {
    header {
      position: fixed;
      width: 100%;
    }}
    
    @media screen and (max-width: 1930px) { 
      body h1 {
        font-size: 5.5rem;
      }}
    
    @media screen and (max-width: 1200px) { 
      body h1 {
        font-size: 3.5rem;
      }
      figure .trasera {
        
        backface-visibility:visible;
        transform: perspective(600px) rotateY(0deg);
      }
    
      .contenedor_tarjeta:hover figure {
        transform: perspective(600px) rotateY(0deg);	
      }
    
    }
    









 